/****** Géneral *******/
$purple: #9356dc;
$pink: #ff79da;
$green: #99e2d0;

* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  margin: 0;
}

/****** animation du loader ******/

.Chargement {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: $purple;
  animation: loader 3s forwards;

  h2 {
    color: #000000;
    font-size: 20px;
    display: flex;

    span {
      animation: animate 3s linear infinite;
    }
  }
}

@keyframes loader {
  90% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes animate {
  15% {
    color: white;
  }

  35% {
    color: gray;
  }
}

header {
  display: flex;
  padding-top: 25px;
  padding-bottom: 15px;

  a {
    margin-left: 15px;
  }
  div {
    margin: auto;
  }
}

.head {
  background-color: #f6f6f6;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

  input {
    border-style: none;
    background-color: #eaeaea;
    font-weight: 500;
    font-size: 16px;
    width: 110px;
  }

  input::placeholder {
    color: #000000;
  }

  .fa-solid {
    margin-right: 15px;
  }
}

.head-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;

  h2 {
    margin-bottom: -10px;
  }
}

.button-explorez {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 218px;
  background: linear-gradient($pink, $purple);
  border-radius: 25px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border: 0;
  color: white;
}

.button-explorez:hover {
  background: linear-gradient($pink 100%, $purple 100% / white 15%);
  filter: drop-shadow(0px 4px 15px rgba(0, 0%, 0%, 0.35));
  opacity: 0.8;
}

.no-style {
  text-decoration: none;
  color: black;
}

/********* Fonctionnement *********/
.fonctionnement {
  display: grid;
  padding-top: 20px;
  &-title {
    margin-left: 5%;

    font-size: 24px;
    font-weight: 700;
  }
  &-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 40px;
    width: 85%;
    margin: auto;
    padding-left: unset;

    .card {
      background-color: #f6f6f6;
      border-radius: 20px;
      box-shadow: 0px, 4px, 15px, 0px black;
      height: 72.38px;
      width: 100%;
    }
  }

  &-txt {
    display: flex;
    text-align: center;
    align-items: center;

    font-weight: 500;
    .fa-solid {
      margin-right: 15px;
    }
  }
}

li {
  display: flex;
  align-items: center;
}

.fa-solid {
  color: rgb(53, 53, 53);
  border: 1px;
}

.fa-mobile-screen-button:hover,
.fa-list-ul:hover,
.fa-store:hover {
  color: $purple;
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  background-color: $purple;
  color: white;
}

/********** Footer *********/
footer {
  background-color: #353535;
  color: white;
  padding: 15px;

  p {
    color: #ffffff;
  }

  .fa-solid {
    color: white;
    margin-right: 15px;
  }

  img {
    color: white;
    height: 27px;
    width: 137.58px;
  }
}

/********* media queries *********/

@media (min-width: 768px) {
  .search {
    box-shadow: unset;
  }

  .head-line {
    padding-bottom: 30px;

    h2 {
      font-size: 40px;
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
    }
  }

  /******* Fonctionnement ******/
  .fonctionnement {
    &-title {
      margin-left: 9%;
    }
    &-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
      margin-right: 5%;
    }

    .card {
      width: 80%;
    }
  }

  /******* Footer *******/
  footer div {
    display: flex;
    gap: 20px;
    padding-top: 20px;

    & img {
      padding-left: 40px;
    }
  }

  .footer-content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
