/****** Géneral *******/

* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  margin: 0;
}

.Chargement {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #9356dc;
  animation: loader 5s forwards;

  h2 {
    color: #000000;
    font-size: 20px;
    display: flex;

    span {
      animation: animate 3s linear infinite;
    }
  }
}

@keyframes loader {
  90% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes animate {
  15% {
    color: white;
  }
}

header {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.head {
  background-color: #f6f6f6;
}

.search {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  font-weight: 500;
}

.head-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;

  h2 {
    margin-bottom: -10px;
  }
}

.button-explorez {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 218px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border: 0;
  color: white;
}

.button-explorez:hover {
  background: linear-gradient(#ff79da 100%, #9356dc 100% / #ffffff 15%);
  filter: drop-shadow(0px 4px 15px rgba(0, 0%, 0%, 0.35));
}

/********* Fonctionnement *********/
.fonctionnement {
  display: grid;
  padding-top: 20px;

  &-title {
    margin-left: 5%;
    margin-bottom: -30px;
    font-size: 24px;
    font-weight: 700;
  }

  &-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 40px;
    width: 85%;
    margin-left: -5%;

    .card {
      background-color: #f6f6f6;
      border-radius: 20px;
      box-shadow: 0px, 4px, 15px, 0px #000000;
      height: 72.38px;
      width: 100%;
      margin-top: 15px;
    }
  }

  &-txt {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 500;
  }
}

li {
  display: flex;
  align-items: baseline;
}

.fa-solid {
  color: rgb(53, 53, 53);
  width: 12px;
  height: 16px;
  border: 1px;
  margin-right: 20px;
}

.fa-store {
  color: #9356dc;
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  background-color: #9356dc;
  color: white;
}

/*********** Restaurants *********/
.restaurants {
  background-color: #f6f6f6;
  padding: 5%;
  padding-bottom: 60px;

  &-title {
    font-size: 24px;
    margin-bottom: -10px;
  }

  &-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;

    .card-resto {
      height: 251px;
      width: 100%;

      &-content {
        display: flex;
        flex-direction: row;
        margin-left: 8px;
      }
      &-txt {
        width: 100%;
      }

      &-title {
        font-size: 18px;
        margin: 8px;
      }
      &-subtitle {
        margin: 8px;
        display: flex;
        justify-content: space-between;
      }
    }

    .img-food {
      height: 175px;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border: 5px;
    }
  }
}

.card-resto {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

  img {
    -o-object-fit: cover;
    object-fit: cover;
  }

  &-title {
    font-size: 16px;
  }
}

input {
  -webkit-appearance: none;
}

label i {
  font-size: 21px;
  border: -1px;
}

label input i::before {
  color: #000000;
}

label input i::after {
  color: (#9356dc, #ff79da);
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 29px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 3px;
  position: absolute;
  right: 3%;
}

/*********** Les menus ***********/
.entete img {
  width: 100%;
  height: 275px;
}

.menu {
  border-bottom: solid 3px #99e2d0;
  width: 40px;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-left: 10px;

  &-cards {
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -40px;
    padding-top: 8px;
  }
}

.section1 {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.6s 1s ease-out forwards;
}

.section2 {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 1.8s 1s ease-out forwards;
}

.section3 {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 2.8s 1s ease-out forwards;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

h1 {
  display: flex;
  justify-content: space-around;
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 28px;
}

.all-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 8px;
    height: 69px;
    &-txt {
      width: 100%;
    }

    &-title {
      font-size: 18px;
      margin-bottom: -10px;
      margin-left: 15px;
    }

    &-subtitle {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      margin-left: 15px;
    }
  }
}
.card-subtitle .euro {
  display: flex;
  justify-content: space-around;
}

.euro {
  font-weight: 700;
  margin-right: 15px;
}

.button-check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 59px;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0;
  margin-right: -60px;
  .fa-solid {
    color: white;
  }
}

.card:hover {
  .button-check {
    animation: check 500ms forwards;
  }
}

.button-check:hover {
  display: flex;
}

@keyframes check {
  from {
    margin-right: -40px;
  }
  to {
    margin-right: 0px;
  }
}

.bouton-du-bas {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 35px;
}

.button-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 186px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border: 0;
  color: white;
}

.button-commander:hover {
  background: linear-gradient(#ff79da 100%, #9356dc 100%);
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.35));
}

.no-style {
  text-decoration: none;
  color: black;
}

.fa-regular,
.fa-heart {
  margin-right: 20px;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/********** Footer *********/

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 15px;

  .fa-solid {
    color: white;
    margin-right: 15px;
  }

  img {
    color: white;
    height: 27px;
    width: 137.58px;
  }
}

/********* media queries *********/

@media (min-width: 768px) {
  .head-line {
    padding-bottom: 30px;
    h2 {
      font-size: 40px;
      margin-bottom: 5px;
    }
    p {
      font-size: 18px;
    }
  }

  /******* Fonctionnement ******/
  .fonctionnement {
    &-title {
      margin-left: 9%;
    }

    &-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
      margin-left: 6%;
    }

    .card {
      width: 80%;
    }
  }

  /******* Restaurants *******/
  .restaurants {
    padding: 1%;
    padding-bottom: 60px;

    &-title {
      padding-left: 8%;
      padding-bottom: 3%;
    }

    &-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 10%;
      align-content: center;

      .card-resto {
        height: 251px;
        width: 75%;
        margin-left: 15%;
      }
    }
  }

  /******* Les menus ******/

  .entete img {
    object-fit: cover;
    height: 383px;
  }

  .card:hover {
    .button-check {
      animation: check 500ms forwards;
    }
  }

  .button-check:hover {
    display: flex;
  }

  @keyframes check {
    from {
      margin-right: -40px;
    }
    to {
      margin-right: 0px;
    }
  }

  .menu-cards {
    width: 78%;
    margin-left: 11%;

    section {
      padding-left: 18%;
      padding-right: 18%;
    }

    h1 {
      display: flex;
      justify-content: center;
      padding-top: 15px;
      gap: 2%;
    }
  }

  /******* Footer *******/
  footer div {
    display: flex;
    gap: 20px;
    padding-top: 20px;

    & img {
      padding-left: 40px;
    }
  }

  .footer-content {
    display: flex;
    flex-direction: row-reverse;
  }
}
